GEMINI_API_KEY=
NVIDIA_API_KEY=
DEEPSEEK_API_KEY=
GOOGLE_API_KEY=
LOGFIRE_TOKEN=
LOGFIRE_ENVIRONMENT=
LAMINAR_API_KEY=
GROQ_API_KEY=
SERPER_DEV_API_KEY=

# Development
VITE_TEXT_WS_URL=ws://127.0.0.1:8000/ws/text
VITE_VOICE_WS_URL=ws://127.0.0.1:8000/ws
# Production
# VITE_TEXT_WS_URL=ws://0.0.0.0:80/ws/text
# VITE_VOICE_WS_URL=ws://0.0.0.0:80/ws
