GEMINI_API_KEY=
NVIDIA_API_KEY=
DEEPSEEK_API_KEY=
GOOGLE_API_KEY=
LOGFIRE_TOKEN=
LOGFIRE_ENVIRONMENT=
LAMINAR_API_KEY=
GROQ_API_KEY=
SERPER_DEV_API_KEY=
SYSTEM_INSTRUCTION='You are a helpful assistant and you MUST always use the query_docs tool to query the document towards any questions. It is mandatory to base your answers on the information from the output of the query_docs tool, and include the context from the query tool in your response to the user's question. Do not mention your operations like "I am searching the document now".'
# Development
# VITE_TEXT_WS_URL=ws://127.0.0.1:8000/ws/text
# VITE_VOICE_WS_URL=ws://127.0.0.1:8000/ws
# Production
# VITE_TEXT_WS_URL=ws://0.0.0.0:80/ws/text
# VITE_VOICE_WS_URL=ws://0.0.0.0:80/ws
